 <footer>
          <div class="container-fluid">
  <div class="col-sm-4" style="background-color:linen;height:50%;">
        <p><b>Online shopping</b></p>
        <ul>
        <li>Men</li>
        <li>Women</li>
        <li>Kids</li>
        <li>Home&Living</li>
        <a href="#">Gift Cards</a><button type="button" class="btn btn-primary disabled btn-xs" >New</button>
      </ul>
      </div>
       <div class="col-sm-4" style="background-color:linen; height:50%;">
            <p><b>Useful links</b></p>
           <ul>
            <li>Contact us</li>
            <li>FAQ</li>
            <li>T&c</li>
            <li>Terms of use</li>
            <li>Track orders</li>
            <li>Shipping</li>
            <li>Cancellation</li>
            <li>kids</li>
            <li>Whitehat</li>
            <li>Blog</li>
          </ul>
            </div>
          <div class="col-sm-4" style="background-color:linen; height:50%;">
            <p><b>Experience MyntraApp onmobile</b></p>
            
            <p>Keep in Touch</p>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </div>
          </div>
          <h1><b>Online shopping Mall at Myntra</b></h1>
          <p>We have all planned our trips to the clothing store in advance, vividly dreaming about what we would buy once there. Some of us even have sales assistants for friends and have often asked them for a favour or two during peak shopping season (read: festivals and sales). But what we can all admit to is that we have always wished it was easier than to go down to the store in dense traffic, navigating through throngs of fashionistas, all vying for the same trendy clothing items, waiting in line to try on our top picks in the trial rooms, etc.</p>
        </footer>
