 <div class="desc">
       <hr>
       <p> home/clothing/women clothing/kurtasets/Rain&Rainbowkurtaset>MorebyRain&Rainbow</p>
        <img style="width:40%; height:70%; margin-top:10%;"src="">
       <p>Product code: 2189120<br>
        Sold by: Blumentor</p>
 </div>
      <div class="desc1">
           <p><b>Rain & Rainbow Women Black & Pink Printed Kurta with Churidar & Dupatta</b></p>
           <p><b>Rs 2790  (40%off)</b></p>
            <p>Additional tax may apply; charged at checkout</p>
           <hr>
          <p><b>10% Instant Discount on HDFC Cards</b></p>
          <p style="font-style:italic;">10% Instant Discount on HDFC Credit and Debit cards</p>
             <div class="desc2">
                  <a href="">View</a>
             </div>
        </div>
        <p style="color: #ee5f73;
        font-weight: 500;;"> Price: Rs 2698</p>
Applicable on: Orders above Rs. 1499 (only on first purchase) <br>Coupon code: MYNTRANEWW500 Coupon Discount: Rs. 500 off, excluding tax (check cart for final savings)
      
      <hr>
      <div class="desc3">
            <p><b>SelectSize</b></p>
             <span style="margin-right:1%;" class="dot"> xs</span>
            <span class="dot">s</span>
             <span class="dot">M</span>
              <span class="dot">L</span>
      </div>
        Not sure about what size to buy?Login
        <div class="desc4">
            <button type="btn btn-default"><span class="glyphicon glyphicon-bookmark"></span>Save
            </button> 
             <button type="btn btn-default"><span class="glyphicon glyphicon-briefcase"></span> Add to cart  
             </button>
        </div>
      <hr>
      <h1>Product Details</h1>
      Black and pink printed kurta with churidar and dupatta
      Black and pink printed Anarkali calf length kurta, has a notched round neck, three-quarter sleeves
      Pink solid churidar, has a drawstring closure
      Pink and red dyed dupatta, has tassels border
      
     <h2> Material & Care</h2>
      Kurta fabric: pure cotton
      Bottom fabric: pure cotton
      Dupatta fabric: poly chiffon
      <hr>

        

  